@import url('https://fonts.googleapis.com/css2?family=Comforter:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* about.css */
* {
    margin: 0;
    padding: 0;
}


.navbar {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;

}

.navbar-brand {
    font-family: 'Comforter';
    font-size: 33px;
    font-weight: 700;
}

.searchBar {
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
    font-size: 31px;
}

.textStyle {
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 43px;
    margin: 0;
}

.headImg img {
    opacity: .7;
}

.headImg img:hover {
    cursor: pointer;

}

.ourTeam {
    padding: 70px;
    font-size: 20px;
}

.ourTeam h4 {
    font-size: 33px;
    font-family: 'Inter';
    font-weight: 600;

}

.knowaboutTeam {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.teamCard {
    align-items: center;
    padding: 10px;
}

.teamCard img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}


/* -----------------------------------------------------------media query----------------------------------------------------------------- */

@media screen and (max-width:426px) {
    .navbar{
        font-size: 17px;  
    }
    
    .ourTeam h4 {
        font-size: 24px;
    }

    .ourTeam {
        padding: 30px;
        font-size: 17px;
    }

    .knowaboutTeam {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
}