@import url('https://fonts.googleapis.com/css2?family=Comforter:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* contact.css */
.helpSection {
    padding: 50px;
}

.helpSection h4 {
    font-size: 33px;
    font-family: 'Inter';
    font-weight: 600;
}

.queryForm {
    box-sizing: border-box;
    box-shadow: 8px 9px 8px 9px #d7caca;
    border: black;
    height: auto;
    width: 500px;
    text-align: center;
    display: inline-block;
}

.form-control {
    width: 50%;
    margin: auto;
}